[submodule "konnected-security"]
	path = konnected-security
	url = https://github.com/konnected-io/konnected-security
[submodule "garadget"]
	path = garadget
	url = https://github.com/jrfarrar/hubitat
[submodule "betterLaundry"]
	path = betterLaundry
	url = https://github.com/chrisuthe/HubitatDevices
[submodule "bptworld"]
	path = bptworld
	url = https://github.com/bptworld/Hubitat/
[submodule "Hubitat-Switch-Bindings"]
	path = Hubitat-Switch-Bindings
	url = https://github.com/joelwetzel/Hubitat-Switch-Bindings
[submodule "wemo"]
	path = wemo
	url = https://github.com/jason0x43/hubitat
[submodule "zwavetool"]
	path = zwavetool
	url = https://github.com/hubitat/HubitatPublic
[submodule "homeseer"]
	path = homeseer
	url = https://github.com/codahq/hubitat_codahq
[submodule "inovelli"]
	path = inovelli
	url = https://github.com/InovelliUSA/Hubitat/
[submodule "submodule sony"]
	path = submodule sony
	url = https://github.com/Botched1/Hubitat
