[submodule "konnected-security"]
	path = konnected-security
	url = https://github.com/konnected-io/konnected-security
[submodule "garadget"]
	path = garadget
	url = https://github.com/jrfarrar/hubitat
[submodule "betterLaundry"]
	path = betterLaundry
	url = https://github.com/chrisuthe/HubitatDevices
[submodule "bptworld"]
	path = bptworld
	url = https://github.com/bptworld/Hubitat/
